.producto1, .producto2{
    border-bottom   : 1px solid #000000;
    width: 75%;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
}

.producto{
    width: 150px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.info-product li{
    list-style: none;
    margin-left:  -20px;
}

.tittle-product a{
    color: black;
    height: 6.3mm;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}
.available{
    color: #007600 !important;
}
.product-gift input{
    margin: 40px auto 10px 0 ;
    margin-top: 40px;
}

.section-links{
    display: flex;
}
.quantityProduct{
    border: 1px solid rgb(164, 163, 163);
    background-color: #e9e9ed;
    border-radius: 5px;
    text-align: center;
    text-indent: 5px;
    padding: 3px;
}
.quantity{
    background-color: transparent;
    border: none;
}
.separator{
    font-size: 18px;
    margin-left: 10px;
    color: rgb(167, 164, 164);
}
.linksP{
    margin-left: 10px;
    background-color: transparent;
    border: none;
    color: #000000;
    cursor: pointer;
}

.price-product-shoppingCart{
    margin-left: 30%;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.totalPriceProduct{
    border: 1px solid black;
    border-radius: 5px;
    height: 110px;
    margin-left: auto;
    position: relative;
    bottom: 420px;
    width: 20%;
    text-indent: 30px;
    font-size: 18px;
}
.totalP{
    margin-top: 20px;
}
.totalFinal{
    font-weight: bold;
}
.payProducts{
    text-align: center;
    background-color: #e9ae4a;
    border: 1px solid #b3b5b3;
    color: #fff;
    margin: 20px 25px;
    border-radius: 5px;
    height: 30px;
    width: 80%;
    cursor: pointer;
}