body{
    margin: 0 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.logo_barraBusqueda{
    display: flex;
    justify-content: space-between;
}

.logo{
    
    height: 100px;
}

.searchbar{
    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px;
    background-color: #fff;
    margin: auto 20px;
    width: 50%;
    display: flex;
}
.inputSearch{
    text-indent: 10px;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    outline: none;
    border: transparent;
}
button{
    margin: auto;
    height: 30px;
    background-color: transparent;
    border: none;
    border-left: 1px solid #000;
}
.fa-search{
    margin: auto 10px;
    height: 15px;
}



/* NAV */
nav {
    border: 1px solid black;
    background-color: black;
    font-size: 14px;
   
}
/*NAV UL*/  
nav .menu {
    display: flex;
    list-style: none;
}
/* NAV LI */
nav li{
    margin:-5px 40px -5px 0;
}
/* UL A */
.menu a{
    color: #fff;
    text-decoration: none;
}

.favorite{
    margin-left: auto;
}

a:hover{
    color: #E8AE4A;

}
/*================================= SECTION =================================*/
.carousel{
    border: 1px solid rgb(154, 154, 154);
}
.carousel-items{
    display: flex;
    justify-content: center;
}
.carousel-items img{
    width: 50%;
    height: 250px;
   
}

/* Contenedor de los productos */
.container{
    margin-top: 30px;
    width: 100%;
}
.products{
    display: flex;
    width: 80%;
    margin: auto;
}

/* Imagenes e Información */
.product{
    display: block;
    text-align: center;
    margin: auto 10px;
    background-color: black;
    color:white;
}
.imagen{
    background-color: rgb(231, 231, 231);
    height: 200px;
    width: 100%;

}

.imagen img{
    height: 40%;
    width: 100%;
    
}
.price{
    background-color: #E8AE4A;
    padding: 1px;
    color: white;
}


.heart{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    height: 16px;
}
.heart:hover{
   color: #E8AE4A;
   
   transform: rotate(360deg);
   transition: 1090ms, transform 1s;
}

footer{
    border: 1px solid #000;
    margin-top: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    color:white;
    font-size: 12px;
}
.containerFooter{
    width: 80%;
}

.footer-info{
    display: flex;
    justify-content: center;
    margin: 20px auto;
}
.footer-info-item{
    width: 40%;
}

.footerContainerEmail{
    width: 90%;
    margin: auto;
}
.formEmail{
    display: flex;
    border-radius: 5px;
    border: 1px solid #000;
    width: 100%;
    background-color: white;
}

.inputEmail{
    width: 100%;
    border: transparent;
    border-radius: 5px;
    text-indent: 5px;
}

.btnSend{
    border: none;
    border-left: 1px solid #000;
    margin-right: auto;
}
.fa-paper-plane{
    margin: auto;
    margin-left: 2px;
    margin-right: 2px;
    height: 18px;
    color: #E8AE4A;
}

.fa-paper-plane:hover{
    color: #E8AE4A;
    transform: rotate(360deg);
    transition: 1090ms, transform 1s;
}

.footer-social-networks {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 20px;
    margin-bottom: 20px;
    border-top: 2px solid white;
    
}
.copyright{
    width: 100%;
    font-size: 10px;
}
.social-media{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    width: 30%;
    font-size: 25px;
    color: white;
}

.social-media a{
    width: 10%;
    text-align: center;
    margin: auto;
    color: white;
}

.fa-facebook-f:hover{
    color: #2b11f0;
    font-weight: bold;
    transform: rotate(360deg);
    transition: 1090ms, transform 1s;
}
.fa-twitter:hover{
    color: rgb(29, 155, 240);
    font-weight: bold;    
    transform: rotate(360deg);
    transition: 1090ms, transform 1s;
}
.fa-instagram:hover{
    color:#9a19b1;
    font-weight: bold;
    
    transform: rotate(360deg);
    transition: 1090ms, transform 1s;
}
.fa-whatsapp:hover{
    color: #0aa545;
    font-weight: bold;
    transform: rotate(360deg);
    transition: 1090ms, transform 1s;
}
