<!DOCTYPE html>
<html lang="en">

<head>
    <title>Registro - Cool Cloth</title>
    <%- include ('partials/head') %>
</head>

<body>
    <!--===================================  HEADER ===================================-->
    <%- include ('partials/navBar') %>
        <!--===============================================================================-->

        <main class="mainProductAdd">
            <section>
                <form action="/products" method="POST" class="formularyProcuctAdd" enctype="multipart/form-data">
                    <div class="containerFormAdd">
                        <div class="formProductAdd">

                            <div class="ProductAdd">
                                <label for="type-product">Tipo de produto:</label>
                                <select name="type-product" style="font-size: 14px; outline: none;">
                                    <option value="Playera dama">Playera dama</option>
                                    <option value="Playera caballero">Playera caballero</option>
                                    <option value="Playera niño">Playera niño</option>
                                    <option value="Sudadera niño">Sudadera niño</option>
                                    <option value="Sudadera adulto">Sudadera adulto</option>
                                    <option value="Chamarra dama">Chamarra dama</option>
                                    <option value="Chamarra caballero">Chamarra caballero</option>
                                </select>
                            </div>
                            <div class="FormProcuctsAdd">
                                <label for="model">Modelo:</label>
                                <input type="text" name="model" placeholder="Modelo" minlength="2" required>
                            </div>
                            <div class="FormProcuctsAdd">
                                <label for="quantity-product">Cantidad:</label>
                                <input type="number" name="quantity-product" placeholder="Cantidad" minlength="1" require>
                            </div>
                            <div class="ProductAdd">
                                <label for="color">Color:</label>
                                <select name="color" style="font-size: 14px; outline: none;">
                                    <option value="Blanco">Blanco</option>
                                    <option value="Negro">Negro</option>
                                    <option value="Rojo">Rojo</option>
                                    <option value="Gris">Gris</option>
                                    <option value="Gris oxford">Gris oxford</option>
                                    <option value="Rosa">Rosa</option>
                                    <option value="Morado">Morado</option>
                                    <option value="Marino">Marino</option>
                                    <option value="Azul cielo">Azul cielo</option>
                                </select>
                            </div>

                            <div class="ProductAdd">
                                <label for="size">Talla:</label>
                                <select name="size" style="font-size: 14px; outline: none;">
                                    <option value="Extra chica">Extra chica</option>
                                    <option value="Chica">Chica</option>
                                    <option value="Mediana">Mediana</option>
                                    <option value="Grande">Grande</option>
                                    <option value="Extra grande">Extra grande</option>
                                    <option value="Doble extra grande">Doble extra grande</option>
                                </select>
                            </div>
                            <div class="FormProcuctsAdd">
                                <label for="price">Precio:</label>
                                <input type="number" name="price" placeholder="$" minlength="1" required>
                            </div>
                            <div class="FormProcuctsAdd">
                                <label for="description">Descripción:</label>
                                <textarea rows="10" cols="50" name="description" placeholder="Escribe una breve descripción del producto" minlength="10" required></textarea>
                            </div>
                        </div>
                        <div class="fotosPrductos">
                            <div class="FotoProdcuto">
                                <div class="productPicture" id="fotoProducto1"></div>
                                <input type="file" name="fotoProducto" id="fotoProducto" accept=".jpg, .png, .svg">
                            </div>
                        </div>
                    </div>

                    <div class="ProductAddBtnform">
                        <input type="submit" class="ProductAddBtn" value="Agregar">
                    </div>
                </form>
            </section>
        </main>

        <!--=================================== FOOTER ===================================-->
        <%- include ('partials/footer') %>
            <!--==============================================================================-->
</body>

</html>