<!DOCTYPE html>
<html lang="en">

<head>
    <title>Registro Administradores - Cool Cloth</title>
    <%- include ('partials/head') %>
</head>

<body>
    <!--===================================  HEADER ===================================-->
    <%- include ('partials/navBar') %>
        <!--===============================================================================-->

        <main class="mainSignUp">
            <section>
                <div>
                    <h1>Registro de empleados</h1>
                    <% if (locals.errors) { %>      
                        <% for(i=0; i<=errors.length; i++){ %>
                            <p class="is-dangeros">
                                <%=JSON.stringify(errors[i])%>
                            </p>
                            <% }%>
                    <% } %>
                </div>
                <form action="/users/addUser" method="post" class="formularySignUp" enctype="multipart/form-data">
                    <div class="containerForm">
                        <div class="formSignUp">
                            <input type="text" name="nameSignUp" id="nameSignUp" class="nameSignUp"
                                placeholder="Nombre(s) y Apellido" />

                            <input type="text" name="usernameSignUp" id="usernameSignUp"
                                placeholder="Nombre de usuario" />

                            <input type="email" name="emailSignUp" id="emailSignUp" class="emailSignUp"
                                placeholder="Correo Electrónico" />

                            <input type="password" name="passwordSingUp" id="passwordSignUp" class="passwdSingUp"
                                placeholder="Contraseña" />
                            <input type="password" name="rpasswordSingUp" id="rasswordSignUp" class="passwdSingUp"
                                placeholder="Confirmar contraseña" />
                        </div>
                        <h4>Fecha de Nacimiento</h4>
                        <input type="date" name="nacimiento" id="nacimiento" class="nacimiento" />

                        <span class="gender">
                            <h4>Sexo</h4>
                            <span class="spanMen">
                                <input type="radio" name="radioSex" id="radioSexMen" class="radioSexMen" value="0" />
                                <label for="men">Hombre</label>
                            </span>

                            <span class="spanWomen">
                                <input type="radio" name="radioSex" id="radioSexWoman" class="radioSexWomen"
                                    value="1" />
                                <label for="women">Mujer</label>
                            </span>
                        </span>
                        <input type="text" name="typeSignUp" id="typeSignUp" placeholder="Cargo" />
                        <div class="profile">
                            <input type="file" name="uploadedImageCli" id="uploadedImageCli"
                                accept=".jpg, .png, .svg" />
                        </div>
                    </div>

                    <div class="signup">
                        <input type="submit" name="btnSignUp" id="btnSignUp" class="btnSignUp" value="Registrar" />
                    </div>
                </form>
            </section>
        </main>

        <!--=================================== FOOTER ===================================-->
        <%- include ('partials/footer') %>
            <!--==============================================================================-->
</body>

</html>