<!DOCTYPE html>
<html lang="en">

<head>
    <title>Registro - Cool Cloth</title>
    <%- include ('partials/head') %>
</head>

<body>
    <!--===================================  HEADER ===================================-->
    <%- include ('partials/navBar') %>
        <!--===============================================================================-->

        <main class="mainSignUp">
            <section>
                <form action="/clients/addCli" method="post" class="formularySignUp" enctype="multipart/form-data">
 
                    <div class="containerForm">
                        <div class="formSignUp">
                            <input type="text" name="nameSignUpCli" id="nameSignUpCli" class="nameSignUp"
                                placeholder="Nombre(s) y Apellido" minlength="4" required>

                            <input type="text" name="ClinameSignUpCli" id="ClinameSignUpCli" placeholder="Nombre de usuario"
                                minlength="2" require>

                            <input type="email" name="emailSignUpCli" id="emailSignUpCli" class="emailSignUp"
                                placeholder="Correo Electrónico">

                            <input type="password" name="passwordSingUpCli" id="passwordSignUpCli" class="passwdSingUp"
                                placeholder="Contraseña" required>
                            <input type="password" name="rpasswordSingUpCli" id="rasswordSignUpCli" class="passwdSingUp"
                                placeholder="Confirmar contraseña" required>
                        </div>
                        <h4>Fecha de Nacimiento</h4>
                        <input type="date" name="nacimientoCli" id="nacimientoCli" class="nacimiento">

                        <span class="gender">
                            <h4>Sexo</h4>
                            <span class="spanMen">
                                <input type="radio" name="radioSexCli" id="radioSexCli" class="radioSexMen" value="0">
                                <label for="men">Hombre</label>
                            </span>

                            <span class="spanWomen">
                                <input type="radio" name="radioSexCli" id="radioSexCli" class="radioSexWomen" value="1">
                                <label for="women">Mujer</label>
                            </span>
                        </span>
                        <div class="profile">
                            <input type="file" name="uploadedImageCli" id="uploadedImageCli" accept=".jpg, .png, .svg">
                        </div>
                        <div class="termsConditions">
                            <input type="checkbox" name="terms_conditionsCli" id="terms-conditionsCli" required><label>Aceptas
                                nuestras Condiciones, la Política de datos y la Política de cookies.</label>
                        </div>
                    </div>

                    <div class="signup">
                        <input type="submit" name="btnSignUp" id="btnSignUp" class="btnSignUp" value="Registrar">
                    </div>
                </form>
            </section>
        </main>

        <!--=================================== FOOTER ===================================-->
        <%- include ('partials/footer') %>
            <!--==============================================================================-->
</body>

</html>